{% if section.settings.custom-announcement-enabled %}
  <div class="custom-announcement-bar">
    <a href={{ section.settigs.link }} class="custom-announcement-bar__link">
      <p class="custom-announcement-bar__message">{{ section.settings.announcement-bar-text }}</p>
    </a>   
  </div>
{% endif %}

<style>
  .custom-announcement-bar{
	  text-align: center;
	}
  .custom-announcement-bar .custom-announcement-bar__message {
    margin: 0;
      {% if section.settings.announcement-bar-bold-font %}
      	font-weight: bold;
      {% endif %}
      
      font-size: {{ section.settings.announcement-bar-font-size }}px;
    
      padding: {{ section.settings.announcement-bar-height }}px 0px;
    
      background-color: {{ section.settings.announcement-bar-bg-color }}
  }

</style>

{% schema %}
  {
    "name": "Custom announcement bar",
    "settings": [
	{
    "type": "text",
    "id": "announcement-bar-text",
    "default": "This is defauls announemcent",
    "label": "Announcement text"
    },
	{
    "type": "checkbox",
    "id": "announcement-bar-bold-font",
    "default": false,
    "label": "Bold text"
    },
	{
    "type": "range",
    "id": "announcement-bar-font-size",
    "default": 14,
    "label": "Font size",
	"min": 12,
	"max": 20,
	"step": 2,
	"unit": "px"
    },
	{
    "type": "range",
    "id": "announcement-bar-height",
    "default": 10,
    "label": "Height",
	"min": 0,
	"max": 20,
	"step": 2,
	"unit": "px"
    },
	{
    "type": "color",
    "id": "announcement-bar-bg-color",
    "default": "#ffffff",
    "label": "Background color"
    },
	{
	"type": "url",
	"id": "link",
	"label": "Link"
	},
	{
	"type": "checkbox",
	"id": "custom-announcement-enabled",
	"default": true,
	"label": "Enable custom announcement"
	}

]}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
